div(class="marketplace")
    h3 Marketplace    
    div(class="table-marketplace-content")
        table(class="table-marketplace")
            thead
                tr
                    th(id="col-seller") Seller
                    th(id="col-item") Item
                    th(id="col-amount") Amount
                    th(id="col-buy") Buy
            tbody
                each i in [1,2,3,4,5,6,7,8,9]
                    tr
                        td Seller !{i}
                        td Item !{i}
                        td 1000
                        td 
                            img(src="img/buy_liken.png" alt="buy_liken")
                            //- Thanks to https://www.shutterstock.com/image-vector/investing-icons-including-investment-stock-market-1350946325