div(class="assets")
    h3 Assets    
    div(class="table-assets-content")
        table(class="table-assets")
            thead
                tr
                    th(id="col-item") Item
                    th(id="col-amount") Amount
                    th(id="col-sell") Sell
            tbody
                each elem in assets_list
                    tr
                        td= elem.asset.name
                        td= elem.amount
                        td 
                            img(src="img/sell_logo.png" alt="sell_logo")