div(class="wishlist")
    h3 Wishlist
    input(type="search" name="wishlist-search" id="wishlist-search" placeholder="Search")
    div(class="table-wishlist-content")
        table(class="table-wishlist")
            thead
                tr
                    th(id="col-item") Item
                    th(id="col-remove") Remove
            tbody
                each elem in wishlist
                    tr
                        td= elem.name
                        td 
                            img(src="img/remove_logo.png" alt="remove_logo")