div(class="profile")
    div(class="profile-name-avatar")
        img(src="img/avatar.png" alt="Avatar")
        span= username
    div(class="profile-balance")
        h3 Liken balance
        div(class="profile-balance-logo")
            img(src="img/liken_logo.png" alt="liken_logo")
            span= balance