* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation bar */

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: snow;

    display: flex;
    flex-direction: row;
    list-style-type: none;

    height: 3em;
}

.nav-bar > * {
    padding: 1em;
    text-decoration: none;
}

.nav-bar > a {
    color: inherit;
    background-color: inherit;
}

.nav-link:hover, #burger-icon:hover {
    background-color: rgb(0, 136, 186);
    color: white;
}

.nav-logo {
    flex: 1;
}

#burger-icon {
    display: none;
}

/* Media query for dropdown menu */

@media screen and (max-width: 650px) {
    .nav-bar a {
        display: none;
    }

    #burger-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #burger-icon:hover {
        cursor: pointer;
    }

    .nav-bar-dropdown {
        flex-direction: column;
        z-index: 1000;
    }

    .nav-bar-dropdown a {
        display: block;
        text-align: right;
    }
}

/* Main */

main {
    padding-top: 3em;
    padding-bottom: 2em;
}

/* Footer */

footer {
    display: block;
    position: fixed;
    padding: 0.5em;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: snow;

    font-size: smaller;
}

.company-info {
    display: flex;
    text-align: center;
}

.company-info > p {
    flex-grow: 1;
}

a:active, a:visited {
    text-decoration: none;
    color: rgb(0, 123, 163);
}