.wishlist {
	grid-column: 1;
	grid-row: 2 / 4;
}

.wishlist input {
	width: 100%;
	margin-top: 0.5em;

	background-color: transparent;
	border: none;
	border-bottom: 1px white solid;
	outline: none;
	color: var(--text-color);
}

.table-wishlist-content {
	margin-top: 0.5em;
	height: 80%;
	overflow: auto;
	overflow-y: scroll;
}

.table-wishlist-content table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.table-wishlist-content::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

.table-wishlist-content::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid slategrey;
}

.table-wishlist-content th,
td {
	padding: 0.4em;

	background-color: transparent;
	border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
	outline: none;
	color: var(--text-color);
}

.table-wishlist-content img {
	height: 20px;
	transition: 0.1s;
}

.table-wishlist-content img:hover {
	transform: scale(1.2);
	cursor: pointer;
}
