.marketplace {
	grid-column: 2 / 4;
	grid-row: 2 / 4;
}

.table-marketplace-content {
	margin-top: 0.5em;
	height: 80%;
	overflow: auto;
	overflow-y: scroll;
}

.table-marketplace-content table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.table-marketplace-content::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

.table-marketplace-content::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid slategrey;
}

.table-marketplace-content th,
td {
	padding: 0.4em;

	background-color: transparent;
	border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
	outline: none;
	color: var(--text-color);
}

.table-marketplace-content img {
	height: 20px;
}

.table-marketplace-content img:hover {
	transform: scale(1.2);
	transition: 0.1s;
	cursor: pointer;
}
